<div class="container">
    <div class="row" style="background-color: antiquewhite; border-radius: 1em; margin-top: 3em; padding: 3em;">
        <div class="col-sm-6" style="display: inline-block;">
            <label for="codigo">Ingrese el cógido del curso</label>
            <input type="text" class="form-control"[(ngModel)]="codigo">
        </div>

        <div class="col-sm-6" style="display: contents;">
            <button class="btn btn-outline-primary"
            (click)="ObtenerDetalle(codigo)" 
            style="display: inline-block;"
            [disabled]="btnDisabled">
                Buscar
            </button>
        </div>
        

    </div>
    <h2 style="margin-top: 1em;">Contrato</h2>
    <hr>
    <div class="row title">
        <div class="col-sm-1">Codigo Curso</div>
        <div class="col-sm-1">Fecha alta</div>
        <div class="col-sm-1">Colegio</div>
        <div class="col-sm-1">Nivel</div>
        <div class="col-sm-1">Curso</div>
        <div class="col-sm-1">Localidad</div>
        <div class="col-sm-1">Total</div>
        <div class="col-sm-1">Fecha entrega</div>
    </div>
    <div class="row element">
        <div class="col-sm-1">{{contract.coursesCode}}</div>
        <div class="col-sm-1">{{contract.fechaAlta | date: 'dd/MM/YYYY'}}</div>
        <div class="col-sm-1">{{contract.colegioNombre}}</div>
        <div class="col-sm-1">{{contract.colegioNivel}}</div>
        <div class="col-sm-1">{{contract.colegioCurso}}</div>
        <div class="col-sm-1">{{contract.colegioLocalidad}}</div>
        <div class="col-sm-1">{{contract.total | currency}}</div>
        <div class="col-sm-1">{{contract.fechaEntrega | date: 'dd/MM/YYYY'}}</div>
    </div>
    <hr>
    <h3>Pedido</h3>
    <div class="row title">
        <div class="col-sm-1">Cantidad</div>
        <div class="col-sm-1">Articulo</div>
        <div class="col-sm-1">Precio</div>
        <div class="col-sm-1">Total</div>
    </div>
    <div class="row element" *ngFor="let data of contract.contractItems">
        <div class="col-sm-1">{{contract.cantidadEgresados}}</div>
        <div class="col-sm-1">{{data.item.nombre}}</div>
        <div class="col-sm-1">{{data.item.precio | currency}}</div>
        <div class="col-sm-1">{{contract.cantidadEgresados * data.item.precio | currency}}</div>
    </div>
</div>


