<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prueba tecnica</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<style>
    .title{
        font-weight: bold;
    }
</style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row" style="background-color: antiquewhite; border-radius: 1em; margin-top: 3em; padding: 3em;">
                    <div class="col-sm-6" style="display: inline-block;">
                        <label for="codigo">Ingrese el cógido del curso</label>
                        <input type="text" class="form-control" v-model="codigo">
                    </div>
            
                    <div class="col-sm-6" style="display: contents;">
                        <button class="btn btn-outline-primary" 
                        style="display: inline-block;"
                        :disabled="btnDisabled == 1"
                        v-on:click="callApi()">
                            Buscar
                        </button>
                    </div>
                    
            
                </div>
                <h2 style="margin-top: 1em;">Contrato</h2>
                <hr>
                <div class="row title">
                    <div class="col-sm-1">Codigo Curso</div>
                    <div class="col-sm-1">Fecha alta</div>
                    <div class="col-sm-1">Colegio</div>
                    <div class="col-sm-1">Nivel</div>
                    <div class="col-sm-1">Curso</div>
                    <div class="col-sm-1">Localidad</div>
                    <div class="col-sm-1">Total</div>
                    <div class="col-sm-1">Fecha entrega</div>
                </div>
                <div class="row element">
                    <div class="col-sm-1">{{contract.coursesCode}}</div>
                    <div class="col-sm-1">{{formatoFecha(contract.fechaAlta)}}</div>
                    <div class="col-sm-1">{{contract.colegioNombre}}</div>
                    <div class="col-sm-1">{{contract.colegioNivel}}</div>
                    <div class="col-sm-1">{{contract.colegioCurso}}</div>
                    <div class="col-sm-1">{{contract.colegioLocalidad}}</div>
                    <div class="col-sm-1">{{contract.total}}</div>
                    <div class="col-sm-1">{{formatoFecha(contract.fechaEntrega)}}</div>
                </div>
                <hr>
                <h3>Pedido</h3>
                <div class="row title">
                    <div class="col-sm-1">Cantidad</div>
                    <div class="col-sm-1">Articulo</div>
                    <div class="col-sm-1">Precio</div>
                    <div class="col-sm-1">Total</div>
                </div>
                <div class="row element" v-for="contractItem of contract.contractItems">
                    <div class="col-sm-1">{{contract.cantidadEgresados}}</div>
                    <div class="col-sm-1">{{contractItem.item.nombre}}</div>
                    <div class="col-sm-1">{{contractItem.item.precio}}</div>
                    <div class="col-sm-1">{{contract.cantidadEgresados * contractItem.item.precio}}</div>
                </div>
            </div>
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="controler.js"></script>
    </body>
</html>
